@import "bootstrap";
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

body {
    padding-top: 87px;
};

code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

.hide-text{
  display:none;
};
.icon_desc {
  font-size: 18px;
};
.svg-inline--fa {
  font-size: 18px !important;
};